build
.svn*
*.log
*.log.*
*.Trash*
*.pyc
*~
*.kde*
*.cache
.*/
*.o
*.cmd
*.la
*.lo
*.pb.h
*.pb.cpp
*.symvers
*.ko
*.mod.c
*.order
*.Plo
Makefile
Makefile.in
autom4te.cache/
config.status
libtool
.deps/
